

html, body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
#header {
    
}
#header #controls {
    margin-bottom: -50px;
}
#container {
    background-color: #000;
}
#header .inner, #footer .inner, #container .inner {
    width: 650px;
    margin: auto;
    padding: 20px;
}
#footer {
   
}
#playlist {
    float: right;
    width: 150px;
    text-align: left;
}
#player table input.uri {
    width: 320px;
}

#controls table input.volume {
    width: 50px;
}

#controls table input.offset {
    width: 50px;
}

#buttons {
    text-align: center;
    width: 425;
    margin-bottom: 10px;
}

#buttons input {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

#source {
    text-align: center;
}
